<div class="">

    <a id="message"></a>
    <a ><%=@player_0%></a>
    <a id="turncount" data-id="<%=@turn%>" data-session_id="<%= session[:user_id].to_s %>" data-turn_player_id="<%= @turn_player %>">ターン数:<%=@turn%></a>
    <a id="logcount" data-id="<%=@boardlogs.size%>" >ログ：<%=@boardlogs.size%></a>

    <p>山札：<%=@number_of_decks%>枚</p>

    <p><%=@turn_player.name%>のターン</p>
    <div class="players_name">
        <% @players.each do |player| %>
            <div class="flaot_left names">
                <%= player.name %>
                <p><%= player.hand.size %>枚</p>
            </div>
        <% end %>
    </div>


    <div class="btn-items">
      <%if @turn_player.id == session[:user_id] %>
          <%= form_tag("/draw/#{@boardlogs.size}",remote: true) do %>
              <input type="submit" class="btn-item" name="" value="ドロー">
          <% end %>

          <%= form_tag("/rollback/#{@boardlogs.size}",remote: true) do %>
              <input type="submit" class="btn-item" name="rollback" value="やり直し">
          <% end %>

          <%= form_tag("/confirm",remote: true) do %>
              <input type="submit" class="btn-item"  name="confirm" value="確定">
          <% end %>
          <%= form_tag("/judge/#{@boardlogs.size}",remote: true) do %>
              <input type="submit" class="btn-item" id="judge_btn" name="judge" value="判定">
          <% end %>

      <% else %>
          <%= form_tag("/aggregate",remote: true) do %>
              <input type="submit" class="btn-item" id="maru_btn" name="aggregate" value="●" >
          <% end %>

          <%= form_tag("/aggregate",remote: true) do %>
              <input type="submit" class="btn-item" id="batu_btn" name="aggregate" value="×" >
          <% end %>
      <% end %>
    </div>

       <br>

    <div class="board" id="board">
        <% @boards.each do |board| %>
            <%= render 'game/board',board: board %>
        <% end %>
    </div>

    <div class="hand" id="hand">
      <%= render 'game/hand', player: @current_player %>
    </div>


</div>
