<a id ="message"><%= @wait %></a>
<%=@action %>
<%= session[:user_id]%>
<p>山札：<%=@numberofdecks%>枚</p>
<div class="board" id="board">

  <% @boards.each do |board| %>
      <%= render 'game/board',board: board %>
  <% end %>
</div>

<div class="hand" id="hand">
  <%= render 'game/hand', player: @player %>
</div>

<p><%=@players_name[@turn % (@players_name.size)][0]%>のターン</p>

<% @players_name.each do |name| %>
    <%= name[0] %>
    <p><%= name[1].size %>枚</p>
<% end %>

<%if @player_id == session[:user_id] %>
    <%= form_tag("/draw") do %>
        <input type="submit" name="" value="ドロー">
    <% end %>
<br>
    <%= form_tag("/judge") do %>
        <input type="submit" name="judge" value="判定">
    <% end %>
<br>
<% else %>

    <%= form_tag("/aggregate") do %>
        <input type="submit" name="aggregate" value="●">
    <% end %>
<br>
    <%= form_tag("/aggregate") do %>
        <input type="submit" name="aggregate" value="×">
    <% end %>
<% end %>
<br>
<%= form_tag("/page_update",remote: true) do %>
    <input type="submit" name="page_update" value="ページ更新">
<% end %>
<br>

<%= form_tag("/confirm") do %>
    <input type="submit" name="confirm" value="確定！">
<% end %>
