<a id="message"></a>
<a ><%=@player_0%></a>
<a id="turncount" data-id="<%=@turn%>">ターン数:<%=@turn%></a>
<a id="logcount" data-id="<%=@boardlog_last.id%>">ログ：<%=@boardlog_last.id%></a>

<p>山札：<%=@number_of_decks%>枚</p>
<div class="board" id="board">
    <% @boards.each do |board| %>
        <%= render 'game/board',board: board %>
    <% end %>
</div>

<div class="hand" id="hand">
  <%= render 'game/hand', player: @player %>
</div>

<p><%=@players[0].name%>のターン</p>

<% @players.each do |player| %>
    <%= player.name %>
    <p><%= player.hand.size %>枚</p>
<% end %>

    <%if @turn_player.user_id == session[:user_id] %>
    <%= form_tag("/draw/#{@boardlog_last.id}",remote: true) do %>
        <input type="submit" name="" value="ドロー">
    <% end %>
    <br>
    <%= form_tag("/judge/#{@boardlog_last.id}",remote: true) do %>
        <input type="submit" name="judge" value="判定">
    <% end %>
    <br>
    <%= form_tag("/rollback/#{@boardlog_last.id}",remote: true) do %>
        <input type="submit" name="rollback" value="やり直し">
    <% end %>

    <% else %>

        <%= form_tag("/aggregate",remote: true) do %>
            <input type="submit" name="aggregate" value="●">
        <% end %>
    <br>
        <%= form_tag("/aggregate",remote: true) do %>
            <input type="submit" name="aggregate" value="×">
        <% end %>
    <% end %>
