<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>MojiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <div id="flashmessage">
          <%= render 'layouts/flash_message', message: flash[:notice] %>
        </div>
        <%= yield %>
    </div>

  </body>
  <script>
  $(function(){
    $(".flash").fadeOut(2500);
  });
</script>
</html>
