<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>MojiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% if flash[:notice] %>
          <div class="flash time-limit">
              <%= flash[:notice] %>
          </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
